<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Blog</title>
    <link rel="stylesheet" th:href="@{/css/newPost.css}"/>
</head>
<body>
<h1>New/Edit Post</h1>
<form th:action="@{/createOrUpdate}" th:object="${post}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <input type="text" th:field="*{title}" placeholder="Title">
    <input type="text" name="tagList" th:value="${tagsString}" placeholder="Tags (comma-separated)">
    <textarea rows="15" th:field="*{content}"></textarea>
    <input type="submit" th:value="${post.id != null} ? 'Update' : 'Publish'" name="action">
</form>
</body>
</html>