<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}"> Post Detail</title>
    <link rel="stylesheet" th:href="@{/css/postDetail.css}"/>
</head>
<body>
<div class="header">
    <h1><a th:href="@{/}">My Blog Application</a></h1>
</div>
<div class="container">
    <h1 id="title" th:text="${post.title}"></h1>
    <p class="author"><span th:text="${post.author.name}"></span>,
        <span th:text="${post.published_at.toLocalDate().toString()}"></span></p>
    <p th:text="${post.content}" style="text-align: left;">Content</p>
    <p>
        <!--    <span th:each="Tag: ${post.tags}">-->
        <!--        <span th:text="${Tag.name}"></span>-->
        <!--    </span>-->
    </p>
    <div class="actions">
        <div class="buttons" th:if="${#authorization.expression('isAuthenticated()')}">
            <div  class="buttons" th:if="${#authorization.expression('hasAnyRole(''ADMIN'')') or (#authentication.principal.username eq post.author.name)}">
            <form  method="post"
                      th:action="@{'/updatepost' + ${post.id}}" th:object="${post}">
                    <input type="hidden" name="id" th:value="${post.id}"/>
                    <button type="submit">Update</button>
                </form>
                <form  id="deletePostForm"
                      method="post" th:action="@{'/deletePost' + ${post.id}}" th:object="${post}">
                    <input type="hidden" name="id" th:value="${post.id}"/>
                    <button type="submit" onclick="return confirmDeletePost()">Delete</button>
                </form>
            </div>
        </div>
            <div class="buttons">
            <form method="post" th:action="@{'/addComment' + ${post.id}}" th:object="${comment}" id="comment">
                <input type="text" name="theComment" th:value="${theComment}" placeholder="Add your comment here..."
                       required/>
                <input type="text" name="username" th:if="${#authorization.expression('isAuthenticated()')}" th:value="${#authentication.principal.username}" placeholder="Name"   readonly required/>
                <input type="text" name="username" th:if="${not #authorization.expression('isAuthenticated()')}" th:value="${username}" placeholder="Name" required/>
                <input type="email" name="email" th:value="${email}" placeholder="Email" required/>
                <input type="hidden" name="postId" th:value="${post.id}"/>
                <input type="hidden" name="id" th:value="${commentId}"/>
                <input type="submit" value="Comment" name="action">
            </form>
        </div>
        <h2>
            Comments:</h2>
        <div class="comments" th:each="comment : ${post.getComments()}">
            <p th:text="${comment.getName()+'-'+comment.getComment()}"></p>
            <div class="comm" th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="buttons" th:if="${#authorization.expression('hasAnyRole(''ADMIN'')') or #authentication.principal.username eq post.author.name}">
                <form  method="get"
                          th:action="@{'/updateComment'+ ${post.id} + '/' + ${comment.id}}"
                          th:object="${comment}">
                        <input type="hidden" name="id" th:value="${comment.id}"/>
                        <button type="submit" class="co">Update</button>
                    </form>
                    <form method="post"
                          th:action="@{'/deleteComment' + ${comment.id}}" th:object="${comment}">
                        <input type="hidden" name="id" th:value="${comment.id}"/>
                        <button type="submit" class="co">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
